
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #222;
    background-color: white;
}
header,
footer {
    background-color: #ffffff;
    padding: 1rem;
    text-align: center;
}
header h1 {
    margin-bottom: 0.5rem;
    font-family: 'Times New Roman', Times, serif;
}
/*navigation*/
nav[aria-label="Main navigation"] {
    border-top: 2px solid #e0c6a0;
    border-bottom: 2px solid #e0c6a0;
    padding: 10px 2rem;
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    justify-content: right;
    gap: 2rem;
}
.nav-list a {
    color: #b30059;
    text-decoration: none;
    font-weight: bold;
}
.nav-list a:hover,
.nav-list a:focus {
  text-decoration: underline;
}
main {
    padding: 1rem;
}
.book {
   display: grid;
   grid-template-columns: 1fr;
   gap: 1.5rem; 
}
.book-meta p {
    margin: 0.3rem 0;
    font-size: 0.95rem;
    text-align: right;
    padding: 0px 2rem;
}
.book-content h2 {
    font-family: 'Times New Roman', Times, serif;
    color: #b30059;
    font-size: 1.5rem;
    margin-top: 0;
    padding: 10px 2rem;  
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
.book-content img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
}
.book-content p {
    margin-top: 1rem;
    padding: 10px 2rem;
}
footer {
    font-weight: bold;
    border-top: 2px solid#e0c6a0;
    padding-top: 10px;
}
@media (min-width: 768px) {
    .book {
        grid-template-columns: 1fr 2fr;
        align-items: stretch  
    }
    .book-meta {
        text-align: right;
        padding: 0.3rem;
        border-right: 2px solid #e0c6a0;
    }
    .book-content {
        padding-left: 1rem;
    }
    .nav-list {
        justify-content: flex-end;
    }
    
}


